@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');
body {
  background: #424DC6;
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.countainer{
  background-color: #f7fef7;
  width: 79%;
  margin: 5% auto;
  padding: 26px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 7.4px;
  border-radius: 15px;
  border: 2px solid black;
  font-size: 1.1rem;
  flex-direction: column;
}
.countainer input{
  width: 200px;
  height: 40px;
  margin: 0;
  font-size: 1rem;
  color: #000000;
  border-radius: 5px;
  border: none;
  background: transparent;
  outline: none;
}
.countainer button{
  margin: 0 5px;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background: #0f66ff;
  color: #fff;
  transition: color 2s, background 0.8s ease-in;
  font-size: 1rem;
}
.countainer .search-box button:hover{
  color:#0f66ff;
  background: #fff;
}
#logo{
  font-size: 20px;
  margin: 0px 2px;
  color: #0f69f8;
}

.content{
  background-color: #f7fef7;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 7.4px;
  border-radius: 15px;
  border: none;
  font-size: 1.1rem;
  flex-direction: column;
  overflow: hidden;
  transition: ease-in-out 1s;
  width: 0;
  height: 0;
}
.info img{
  width: 70%;
  margin: 0 auto;
  position: relative;
  left: 17%;
  transition: ease-in-out 1s;
}
.Temp{
  font-size: 4rem;
  margin: 2px auto;
}

.bnd{
  display: flex;
  font-size: 1.2rem;
  text-align: start;
}
.bnd h4{
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  color: rgba(0, 0, 0, 0.4);
}
.Temp::after{
  content: '°C';
  font-size: 1.7rem;
  position: relative;
  bottom: 33px;
  background: rgba(0, 0, 210, 0.6);
  color: #000;
  padding: 7px 7px;
  text-align: center;
  border-radius: 50%;
}
